html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-image: url('./img/mapEarth.jpg');
}

header {
  font-family: "Indie Flower";
  font-size: 30px;
  color: rgb(226, 173, 107);
  display: block;
  text-align: center;
}

.for_input {
  display: flex;
  justify-content: center;
}

input {
  width: 50%;
  padding: 12px 20px;
  margin: 8px auto;
  border: 2px solid rgb(110, 79, 41);
  border-radius: 4px;
  background-color: rgb(245, 188, 118);
  color: white;
}

input:focus {
  background-color: rgb(78, 228, 135);
}

.countries {
  padding: 12px 20px;
  margin: 15px auto;
  border: 2px solid rgb(79, 92, 48);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;

}

.country-list {
  color: rgb(243, 237, 229);
  display: flex;
  justify-content: center;
  .country-list__name {
    height: 15px;
  }
}
